p {
    color:brown
}

#container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #f16b6b;
    width: 40%;
    margin: 10px 15px 10px 0;
    font-family: serif;
    font-size: 20px;
}