#container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #f16b6b;
    width: 200px;
    height: 170px;
    margin: 10px 15px 10px 0;
    font-family: serif;
    font-size: 20px;
}