#container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #f16b6b;
    width: 20%;
    margin: 10px 0 10px 0;
    font-family: serif;
    font-size: 20px;
}