#container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: gray;
    width: 200px;
    font-family: serif;
    color: #ffffff;
    font-size: 20px;
    border-bottom:  #ffffff;
}

.sidebar a{
    color: #ffffff;
    text-decoration: none;
}

.sidebar li {
    display: block;
    width: 150px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    background-color: #fb4949;
}
h2#id1{
    border-bottom: solid 4px white;
}

.sidebar ul{
    padding-left: 20px;
}
.content{
    background-color: lightgreen;
    width: 1000px 
}

.danger{
    color: red;
    font-size: 18px;
}

table img{
    width: 110px;
    height: auto;
}

th.name{
    padding-left: 30px;
    width: 200px;
    font-size: 18px;
}

h2{
    border-bottom: solid 4px #000000;
    margin-left: 30px;
}

table{
    margin-left: 30px;
}

.star{
    font-size: 20px;
    color: #FFD700;
}